---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="container post-container" style="background-image: url({{ post.post-image }})" id="{{ post.post-link }}">

          </div>
        </a>
      </li>
    {% endfor %}
  </ul>

  <!-- <div class="columns">
    {% for post in site.posts %}
      <div class="column post-container is-half" style="background-image: url({{ post.post-image }})" id="{{ post.post-link }}">

      </div>
    {% endfor %}
  </div> -->


</div>
