<div class="container about" id="about">
  <!-- <div class="about-image-container">
    <img class="about-image" src="images/andrew.jpg"/>
  </div> -->
  <h2 class="title is-4">About Me</h2>
  <p>I'm constantly curious, always learning, and seeking validation(that's a little joke). I like to live at the intersection of design and technology, creating solutions based on tested principles using the most appropriate tools.</p>

  <h2 class="title is-4">Skills</h2>
  <div class="columns">

      <div class="column">
        <ul>
          <li>Design production/direction</li>
          <li>User studies</li>
          <li>Front-end development</li>
          <li>Rapid prototyping</li>
          <li>Branding</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>Sketch</li>
          <li>Framer</li>
          <li>Adobe Creative Suite</li>
          <li>Javascript Frameworks</li>
          <li>HTML/CSS</li>
        </ul>
      </div>
      <div class="column">
      </div>

  </div>

</div>
