<header class="site-header">

  <section class="hero is-primary is-medium">


    <div class="hero-foot">
      <div class="container">
        <div class="columns">
          <div class="column is-three-quarters">
            <h1 class="title">
              {{ site.title }}
            </h1>
            <h2 class="subtitle">
              Product Designer, UX Friend, Front-end Magician, Interface Visualizer, Etcetera.
            </h2>
          </div>
        </div>
      </div>
    </div>


  </section>

</header>
