<nav class="navbar ">

  <div class="navbar-brand">
    <a class="navbar-item" href="/index.html">
      Andrew Hemans
    </a>

    <div class="navbar-burger burger" data-target="navMenuExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenuExample" class="navbar-menu">
    <div class="navbar-start">


      <!-- <a class="navbar-item " href="http://bulma.io/love/">
        <span class="emoji">❤️</span>
        Love
      </a> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          My Work
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item " href="#sencha-test">
            Sencha Test
          </a>
          <a class="navbar-item " href="#placeholder">
            Placeholder Magazine
          </a>
          <!-- <a class="navbar-item " href="#themer">
            Themer
          </a> -->
          <!-- <a class="navbar-item " href="#styles">
            Sencha Style Guide
          </a> -->
          <!-- <hr class="navbar-divider"> -->
          <!-- <div class="navbar-item">
            <div>
              <p class="is-size-6-desktop">
                <strong class="has-text-info">0.5.0</strong>
              </p>

                <small>
                  <a class="view-all-versions" href="/versions">View all versions</a>
                </small>

            </div>
          </div> -->
        </div>
      </div>

        <a class="navbar-item " href="#about">
          About Me
        </a>
        <a class="navbar-item " href="#contact">
          Contact
        </a>
    </div>
  </div>
</nav>
